<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlacklistedMeaningsByMeaning</key>
	<dict/>
	<key>SceneWhitelist</key>
	<array>
		<string>卒業</string>
		<string>水族館</string>
		<string>食べ物</string>
		<string>アイススケート</string>
		<string>山</string>
		<string>崖</string>
		<string>バスケットボール</string>
		<string>テニス</string>
		<string>宝石</string>
		<string>チーズ</string>
		<string>ソフトボール</string>
		<string>フットボール</string>
		<string>サーカス</string>
		<string>ジェットスキー</string>
		<string>遊び場</string>
		<string>メリーゴーランド</string>
		<string>ペイントボール</string>
		<string>ウインドサーフィン</string>
		<string>帆船</string>
		<string>日光浴</string>
		<string>ダム</string>
		<string>暖炉</string>
		<string>花</string>
		<string>スキューバ</string>
		<string>ハイキング</string>
		<string>クジラ類</string>
		<string>埠頭</string>
		<string>ボウリング</string>
		<string>スノーボード</string>
		<string>動物園</string>
		<string>スノーモービル</string>
		<string>劇場</string>
		<string>ボート</string>
		<string>カジノ</string>
		<string>自動車</string>
		<string>ダイビング</string>
		<string>サイクリング</string>
		<string>楽器</string>
		<string>ボードゲーム</string>
		<string>城</string>
		<string>日の入 日の出</string>
		<string>マーシャルアーツ</string>
		<string>モトクロス</string>
		<string>潜水艦</string>
		<string>ネコ</string>
		<string>雪</string>
		<string>カイトボード</string>
		<string>スカッシュ競技</string>
		<string>間欠泉</string>
		<string>音楽</string>
		<string>アーチェリー</string>
		<string>砂漠</string>
		<string>ブラックジャック</string>
		<string>打ち上げ花火</string>
		<string>スポーツカー</string>
		<string>ネコ科の動物</string>
		<string>サッカー</string>
		<string>美術館</string>
		<string>赤ちゃん</string>
		<string>フェンシング競技</string>
		<string>鉄道</string>
		<string>NASCAR</string>
		<string>スカイサーフィン</string>
		<string>鳥</string>
		<string>ゲーム</string>
		<string>野球</string>
		<string>馬場馬術</string>
		<string>シュノーケリング</string>
		<string>ピラミッド</string>
		<string>たこ</string>
		<string>手こぎボート</string>
		<string>ゴルフ</string>
		<string>ウォータースポーツ</string>
		<string>稲妻</string>
		<string>峡谷</string>
		<string>オーディトリアム</string>
		<string>夜空</string>
		<string>カラオケ</string>
		<string>スキー</string>
		<string>パレード</string>
		<string>森</string>
		<string>熱気球</string>
		<string>ドラゴンパレード</string>
		<string>イースターエッグ</string>
		<string>モニュメント</string>
		<string>ジャングル</string>
		<string>感謝祭</string>
		<string>競走馬</string>
		<string>スタジアム</string>
		<string>飛行機</string>
		<string>バレエ</string>
		<string>ヨガ</string>
		<string>珊瑚礁</string>
		<string>スケート</string>
		<string>レスリング</string>
		<string>自転車</string>
		<string>タトゥー</string>
		<string>遊園地</string>
		<string>カヌー</string>
		<string>チアリーディング</string>
		<string>ピンポン</string>
		<string>釣り</string>
		<string>マジック</string>
		<string>は虫類</string>
		<string>ウインタースポーツ</string>
		<string>滝</string>
		<string>電車</string>
		<string>盆栽</string>
		<string>サーフィン</string>
		<string>犬</string>
		<string>ケーキ</string>
		<string>そり滑り</string>
		<string>砂の城</string>
		<string>氷河</string>
		<string>灯台</string>
		<string>騎手</string>
		<string>ラフティング</string>
		<string>岸</string>
		<string>ホッケー</string>
		<string>サンタクロース</string>
		<string>F1カー</string>
		<string>スポーツ</string>
		<string>乗物</string>
		<string>ボクシング</string>
		<string>水中</string>
		<string>オーケストラ</string>
		<string>カーニバル</string>
		<string>ロケット</string>
		<string>スケートボード</string>
		<string>ヘリコプター</string>
		<string>パフォーマンス</string>
		<string>オクトーバーフェスト</string>
		<string>水球</string>
		<string>スケート場</string>
		<string>動物</string>
		<string>ナイトクラブ</string>
		<string>弦楽器</string>
		<string>恐竜</string>
		<string>体操競技</string>
		<string>クリケット競技</string>
		<string>火山</string>
		<string>湖</string>
		<string>オーロラ</string>
		<string>ダンス</string>
		<string>コンサート</string>
		<string>ロッククライミング</string>
		<string>ハンググライダー</string>
		<string>ロデオ</string>
		<string>魚</string>
		<string>アート</string>
		<string>オートバイ</string>
		<string>バレーボール</string>
		<string>ウェークボード</string>
		<string>バドミントン</string>
		<string>モータースポーツ</string>
		<string>相撲</string>
		<string>パラセーリング</string>
		<string>スカイダイビング</string>
		<string>キックボクシング</string>
		<string>ピニャータ</string>
		<string>テーブルサッカー</string>
		<string>ゴーカート</string>
		<string>ポーカー</string>
		<string>カヤック</string>
		<string>水泳</string>
		<string>ATV</string>
		<string>ビーチ</string>
		<string>ダーツ盤</string>
		<string>運動競技</string>
		<string>キャンプ</string>
		<string>竜巻</string>
		<string>ビリヤード</string>
		<string>ラグビー</string>
		<string>航空ショー</string>
	</array>
</dict>
</plist>
